html,body{
    height: 100%;
}

body{
    background: lack;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.fireplace{
    width: 320px;
    height: 320px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__flames,&__flame_big{
        height: 250px;
        width: 100px;
        backgrond:$fire;
        position: relative;
        margin: bottom -15px;
        z-index: 10;
        opacity: 0.7;
        
    }

    &__spark{
        position: absolute;
        height: 4px;
        width: 4px;
        border-radius: 1px;
        top: 0;
        left: 0;
        filter: blur(1px);
        background: yellow;
        z-index: 10;
        opacity: 0;
    }

    &__light{
        height: 100%;
        width: 100%;
        border-radius: 50% 50% 30% 30%;
        transform: scale(1.1,1.2);
        filter: blur(50px);
        background: orange;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: -1;
        opacity: 0.4;

    }
    .blur{
        filter: blur(1px);
        &.fix{
            position: absolute;
        }
    }
    }
  